.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 16px;
  position: relative;
  z-index: 50;
  margin-top: auto; /* Виштовхує кнопку вниз, якщо в колонці */
  margin-bottom: 90px; /* Місце для BottomNav */
}

.sellButton {
  /* Напівпрозорий темний фон з легким золотистим відтінком */
  background: rgba(243, 186, 47, 0.15);
  backdrop-filter: blur(8px); /* Розмиття фону за кнопкою */
  
  /* Золотиста рамка */
  border: 1px solid rgba(243, 186, 47, 0.3);
  border-radius: 12px;
  
  /* Текст напівпрозорий білий або золотистий */
  color: rgba(255, 255, 255, 0.8);
  
  padding: 12px 20px;
  font-weight: 600;
  font-size: 13px;
  width: 100%;
  max-width: 340px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}
.sellButton:hover {
     transform: scale(1.03);
  box-shadow: 0 0 15px rgba(255, 217, 102, 0.6);
}
/* Коли кнопка підстрибує, вона стає яскравішою */
.bounce {
  animation: jump 0.8s ease;
  background: rgba(243, 186, 47, 0.4);
  color: #fff;
  border-color: rgba(243, 186, 47, 0.8);
  box-shadow: 0 0 15px rgba(243, 186, 47, 0.2);
}

@keyframes jump {
  0%, 100% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  60% { transform: translateY(-5px); }
}

.sellButton:active {
  transform: scale(0.98);
  background: rgba(243, 186, 47, 0.6);
}