/* src/index.css */
:root {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  color: white;
  font-family: system-ui, sans-serif;
}
html, body, #root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* прибирає горизонтальний скрол */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
